.show-user-container {
  width: 180px; /* ปรับขนาดให้เล็กลง */
  height: 150px; /* ปรับขนาดให้เล็กลง */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 20px;
  right: 0;
  margin-top: -15px;
  margin-right: 15px;
  z-index: 9999;
}

.user-info {
  display: flex;
  flex-direction: column; /* จัดเรียงเป็นคอลัมน์ */
  align-items: center; /* จัดตรงกลางแนวนอน */
  height: 120px; /* ปรับขนาดให้เล็กลง */
  
  padding: 10px; /* ปรับขนาด padding ให้เล็กลง */
 
  
  margin-right: 10px;
  position: fixed;
}

.profile-picture {
  width: 85px; /* ปรับขนาดรูปภาพให้เล็กลง */
  height: 85px; /* ปรับขนาดรูปภาพให้เล็กลง */
  border-radius: 50%;
  margin-bottom: 5px; /* เพิ่มระยะห่างระหว่างรูปกับชื่อ */
}

.welcome-text {
  font-size: 18px; /* ปรับขนาดตัวอักษรให้เล็กลง */
  font-weight: bold;
  margin-bottom: 0; /* เอา margin-bottom ออก */
  margin-left: 0; /* เอา margin-left ออก */
  color: azure;
}